.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.idea/
*.iml
.vscode/
**/Pods/
**/DerivedData/
**/.symlinks/
**/xcuserdata/
**/Flutter/Flutter.framework/
**/Flutter/Flutter.podspec
**/App.framework
**/GeneratedPluginRegistrant.*
**/build/
**/.gradle/
local.properties
build/web/
windows/flutter/
windows/.flutter-plugins
windows/.dart_tool
windows/build/
linux/flutter/
linux/.flutter-plugins
linux/.dart_tool
linux/build/
venv/
__pycache__/
pubspec.lock
*.log
*.tmp
*.swp
